body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 20px;
}

h1 {
    color: red;
}

a {
    display: inline-block;
    padding: 10px;
    background: #a34027de;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

a:hover {
    background: #ec5f3b;
}
